{
  "software_id": "org.hspconsortium.bilirubin:{{patient_data_manager_project_name}}:{{patient_data_manager_project_version}}",
  "client_name": "Patient Data Manager",
  "client_uri": "{{patient_data_manager_server_external_url}}/index.html",
  "logo_uri": "https://content.hspconsortium.org/images/hspc-patient-data-manager/logo/pdm.png",
  "launch_url": "{{patient_data_manager_server_external_url}}/launch.html",
  "redirect_uris": [
    "{{patient_data_manager_server_external_url}}/index.html"
  ],
  "scope": "launch online_access patient/*.*",
  "token_endpoint_auth_method": "none",
  "grant_types": [
    "authorization_code"
  ],
  "fhir_versions": [
    "1.0.2", "1.4.0", "1.6.0", "1.8.0", "3.0.1"
  ]
}
